body {
  margin: 15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 1.2em;
  width: 960px;
  background: #FFF url('../img/nasdaq1978s.png') no-repeat bottom left;
  background-size: 100% 100%;
}

p { margin: 1em 2em;}

h1 {margin: 0 auto;}

#wrapper {
    border-color: #000000;
    border-style: none;
    border-width: 2px; 
    padding: 2px 30px;
    width: 90%;
    overflow: auto; /* Will cause all child floats to be enclosed. */
        /* From http://stackoverflow.com/questions/18549823/divs-not-nesting-correctly-inside-section-tag */
}
#form_contents {    
    float: left;
    width: 48%;
}

#portfolio {
    float: left;
    width: 48%;
}

#page_header {
    padding: 3px 10px;
    margin: 15px auto;
    clear: both;
}
    
.align_center {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

#page_footer {
    margin: 1em auto;
    padding-top: 1em;
    font-size: 0.5em;
    clear: both;
    border-top-color: #DDDDDD;
    border-top-style: groove;
    border-top-width: 4px;
    width: 98%;
}

.page_navigation {
    margin: 15px auto;
    width: 98%;
    display: inline-block;
    border-bottom-color: #DDD;
    border-bottom-style: groove;
    border-bottom-width: 4px;
    border-top-color: #DDD;
    border-top-style: groove;
    border-top-width: 4px;
}

.site_navigation {
    border-bottom-style: none;
    border-top-style: none;
}

.page_navigation ul {
    width: 100%;
    -webkit-margin-before: 0px;
}

.page_navigation ul li {
    display: inline-block;
    float: left;
    width: 15%;
}

.page_navigation ul li a {
    height: 1px;
    line-height: 1px;
    text-transform: capitalize;
    font-family: Arial, "Lucida Grande", Verdana, sans-serif;
    font-size: .60em;
    color: #808000;
}

header.section_header {
    border-bottom-color: #DDDDDD;
    border-bottom-style: groove;
    border-bottom-width: 2px;
    width:98%;
}

#form_contents {
    font-size: 1.2em;
    margin: 1em 0.5em;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: #444444;
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0.5em;
}

td {
    border-width: 1px;
    border-style: solid;
    border-color: #444444;
}

th {
    border-width: 1px;
    border-style: solid;
    border-color: #444444;
    font-variant: small-caps;
    color: #666666;
    letter-spacing: 0.2em;
}

caption {
    font-size: 1.4em;
    color: #AA0066;
    font-weight: bold;
    padding-bottom: 4px;
}

/* ***** Header ***** */
#page_header > nav > ul, #page_footer > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#page_header > nav > ul > li, #page_footer > nav > ul > li {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline;
}

/********/

.stockNameError {color:#DA70D6;}
/*.ng-pristine { border:1px solid Gold; }
.ng-dirty.ng-valid { border:1px solid Green; }
.ng-dirty.ng-valid ~ span.ok { color:green; display:inline; } */
.ng-dirty.ng-invalid { border:1px solid Red; }
.ng-dirty.ng-invalid ~ span.ko { color:red; display:inline; }
.custom-error {color:red;}