<section id="main" ng-controller="mainController">
    <header class="section_header">
        <h1 class="align_center">About</h1>
    </header>
    <article>
        <p> This is my AngularJS version of my <a href="https://github.com/oehm-smith/StockFx">stockFx (a play with Java FX)</a>.  You can find the git project at <a href="https://github.com/oehm-smith/stockNg">github</a>.</p>
        <p> If this were to be a application for true public consumption it would be used for personal stock management and would be similar to <a href="https://github.com/yccheok/jstock">JStock</a> and <a href="https://www.google.com/finance">Google Finance</a>.
    </article>
</section>