<section id="form" ng-controller="portfolioController">
    <header class="section_header">
        <h1 class="align_center">Add stock to portfolio</h1>
    </header>
    <article id="form_contents">
        <form name="portfolioForm" ng-submit="submit();" novalidate>
            <input type="text" ng-model="stock.name" name="stockName" ng-pattern="/^[a-zA-Z]*$/" />
            <input type="submit" name="stock.name" value="Submit" />
            <span ng-show="portfolioForm.stockName.$error.pattern" class="custom-error">Input: letters only</span>
        </form>
    </article>
    <article id="portfolio">
        <table>
            <caption>
                <p>Portfolio</p>
            </caption>
            <thead>
                <tr><th ng-click="fader();">Symbol</th><th>Price</th><th>Last lookup time</th></tr>
            </thead>
            <tbody>
                <tr class="portfolioRow" ng-repeat="(index, stock) in stocks | orderBy:order_by" id="{{rowPrefix}}{{index}}">
                    <td ng-click="fader();">{{ stock.getName() }}</td>
                    <td>{{ stock.getValue() }}</td>
                    <td>{{ stock.getLastDate() }}</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>
